<div class="container-mt-5 mt-3">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card mt-2">
        <div class="card-header text-center">CAMBIAR CONTRASEÑA</div>

        <div class="card-body">
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="mb-3">
              <label for="userName" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                name="userName"
                aria-describedby="emailHelp"
                [(ngModel)]="userDto.user.userName"
                disabled
              />
            </div>

            <div class="mb-3">
              <label for="oldPassword" class="form-label">Old Password</label>
              <input
                type="text"
                class="form-control"
                id="oldPassword"
                name="oldPassword"
                aria-describedby="emailHelp"
                [(ngModel)]="userDto.user.password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input
                type="text"
                class="form-control"
                id="newPassword"
                name="newPassword"
                aria-describedby="emailHelp"
                [(ngModel)]="userDto.newPassword"
                required
              />
            </div>
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label"
                >Confirm New Password</label
              >
              <input
                type="text"
                class="form-control"
                id="confirmNewPassword"
                name="confirmNewPassword"
                aria-describedby="emailHelp"
                [(ngModel)]="confirmNewPassword"
                required
              />
              <div *ngIf="userDto.newPassword != confirmNewPassword">
                <span>passwords must be the same.</span>
              </div>
            </div>
            <div
              *ngIf="userDto.newPassword != confirmNewPassword; else ngelseform"
            >
              <button type="submit" class="btn btn-outline-success" disabled>
                actualizar
              </button>
              <button class="btn btn-outline-primary ms-3" routerLink="/">
                Volver
              </button>
            </div>
            <ng-template #ngelseform>
              <button
                type="submit"
                class="btn btn-outline-success"
                [disabled]="!f.valid"
              >
                actualizar
              </button>
              <button class="btn btn-outline-primary ms-3" routerLink="/">
                Volver
              </button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
