

<div style="display: flex; justify-content: center;">
  <mat-card>
      <h2>Inicio de sesión</h2>
      <mat-divider></mat-divider>

      <div style="margin-top: 30px;">
          <form class="example-form" [formGroup]="form">
              <mat-form-field>
                  <label for="nombre">Nombre Usuario</label>
                  <input type="text" formControlName="userName" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <label for="password">Contraseña</label>
                  <input type="password" formControlName="password" matInput>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" (click)="signIn()">Entrar</button>
          </form>
      </div>


  </mat-card>
</div>
