<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <div class="card-header text-center">Account Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Account Type: </b>{{ tipoCuenta }}
          </li>
          <li class="list-group-item">
            <b>Account Number: </b>{{ numeroCuenta }}
          </li>
          <li class="list-group-item"><b>Status: </b>{{ estado }}</li>
          <li class="list-group-item"><b>Balance: </b>US${{ saldo }}</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header text-center">DEPOSIT</div>
        <div class="card-body">
        <form (ngSubmit)="consignar()" novalidate #f="ngForm">
          <div class="mb-3">
            <label for="valor" class="form-label"
              >Enter value to deposit US$</label
            >
            <input
              type="number"
              class="form-control"
              id="valor"
              name="valor"
              aria-describedby="emailHelp"
              [(ngModel)]="valor"
              required
            />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              aria-describedby="emailHelp"
              [(ngModel)]="descripcion"
              required
            />
          </div>
          <button class="btn btn-primary w-100" [disabled]="!f.valid">
            Deposit
          </button>
        </form>
        <button class="btn btn-outline-primary mt-2 w-100" (click)="volver()">
          <i class="fas fa-arrow-circle-left"></i> Return
        </button>
      </div>

      </div>

    </div>

  </div>
</div>
