<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Cuenta</th>
        <th scope="col">Número Cuenta</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha Apertura</th>
        <th scope="col">Saldo</th>
        <th scope="col">Movimiento</th>
        <th scope="col">consignar</th>
        <th scope="col">retirar</th>
        <th scope="col">transferir</th>
        <th scope="col">Activar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.tipoCuenta }}</td>
        <td>{{ account.numeroCuenta }}</td>
        <td>{{ account.estado }}</td>
        <td>{{ account.fechaApertura }}</td>
        <td>${{ account.saldo }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            routerLink="/cliente/{{ clienteId }}/cuenta/{{
              account.id
            }}/movimiento"
          >
            <i
              class="fas fa-eye"
              routerLink="/cliente/{{ clienteId }}/cuenta/{{
                account.id
              }}/movimiento"
            ></i>
            Ver
          </button>
        </td>
        <td>
          <div
            *ngIf="account.estado == 'cancelado'; else elseBlokConsignar"
          ></div>
          <ng-template #elseBlokConsignar>
            <button
              class="btn btn-outline-primary"
              (click)="consignar(clienteId, account)"
            >
              <i
                class="fas fa-wallet"
                (click)="consignar(clienteId, account)"
              ></i>

              consignar
            </button>
          </ng-template>
        </td>
        <td>
          <div
            *ngIf="
              account.estado == 'cancelado' || account.estado == 'inactivo';
              else elseBlokRetirar
            "
          ></div>
          <ng-template #elseBlokRetirar>
            <button
              class="btn btn-outline-warning"
              (click)="retirar(clienteId, account)"
            >
              <i class="fas fa-hand-holding-usd"></i> Retirar
            </button>
          </ng-template>
        </td>
        <td>
          <div
            *ngIf="
              account.estado == 'cancelado' || account.estado == 'inactivo';
              else elseBlokTransferir
            "
          ></div>
          <ng-template #elseBlokTransferir>
            <button
              class="btn btn-outline-secondary"
              (click)="transferir(clienteId, account)"
            >
              <i class="fas fa-money-check-alt"></i> Transferir
            </button>
          </ng-template>
        </td>
        <td>
          <div *ngIf="account.estado == 'activo'; else elseBlok">
            <button
              type="button"
              class="btn btn-danger"
              (click)="desactivar(account.id, account)"
            >
              <i class="fas fa-toggle-on"></i> Desactivar
            </button>
            <button
              type="button"
              class="btn btn-secondary ms-1"
              (click)="cancelar(account.id, account)"
            >
              <i class="fas fa-power-off"></i> cancelar
            </button>
          </div>
          <ng-template #elseBlok>
            <div
              *ngIf="account.estado == 'cancelado'; else elseBlockCancelado"
            ></div>
            <ng-template #elseBlockCancelado>
              <button
                class="btn btn-success"
                (click)="activar(account.id, account)"
              >
                <i class="fas fa-toggle-off"></i> Activar
              </button>
            </ng-template>
          </ng-template>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
