
  <div class="center container-card align-items-start">
      <div class="card p-3 py-2 ms-1 mb-1"
      [ngClass]="{
        'l-bg-blue-dark': account.tipoCuenta === 'Current',
        'l-bg-green-dark': account.tipoCuenta === 'Savings'
      }" *ngFor="let account of accounts"
      >
          <div class="d-flex justify-content-between "> <img class="mt-1" src="./assets/bank-01-escalada.png" width="100" >
              <div *ngIf="account.estado == 'cancelled'; else elseCheckBox">
                <div class="form-check form-switch"> Cancelled</div>
              </div>
              <ng-template #elseCheckBox>
                <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (change)="isChecked(account.id, account)" #mycheckbox type="checkbox" [checked]="account.estado == 'enabled'"> {{account.estado}}</div>
              </ng-template>
              <!-- <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (change)="isChecked(account.id, account)" #mycheckbox type="checkbox" [checked]="account.estado == 'enabled'" [disabled]="account.estado == 'cancelled'"> dfd</div> -->

          </div>
          <div class="mt-2">
              <h6 class="mb-0">{{ account.tipoCuenta }} Account</h6> <span class="fs-2 fw-bold">US$ {{ account.saldo }}</span>
          </div>
          <div class="mt-3">
              <div class="d-flex flex-row"> <img src="./assets/user.png" class="rounded-circle" width="50">
                  <div class="d-flex flex-column ms-3"> <span class="fs-6 text-blue-700" style="text-transform:uppercase"  >{{customerName}} </span>
                    <div class="d-flex flex-row">
                      <span class="fw-bold">{{ account.numeroCuenta }}</span>
                  </div>
                  </div>

              </div>
          </div>

        <div class="mt-4 d-flex flex-row gap-2 align-items-center" *ngIf="account.estado == 'cancelled'; else elseButtonCancelled">
          <button
          class="btn btn-success ms-1 h-45 text-uppercase"
          routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" >
          <i class="fas fa-eye" routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" ></i> Movements </button>
          </div>

          <ng-template #elseButtonCancelled>
            <div class="mt-4 d-flex flex-row gap-2 align-items-center" *ngIf="account.estado == 'disabled'; else elseButtonDisabled">
              <button
              class="btn btn-success ms-1 h-45 text-uppercase"
              routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" >
              <i class="fas fa-eye" routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" ></i> Movements </button>
              <button class="btn btn-primary h-45 text-uppercase" (click)="consignar(clienteId, account)" >
              <i class="fas fa-wallet" (click)="consignar(clienteId, account)" ></i> Deposit </button>
            </div>
            <ng-template #elseButtonDisabled>
              <div class="mt-4 d-flex flex-row gap-2 align-items-center justify-content-center">
              <button class="btn btn-primary h-45 text-uppercase" (click)="consignar(clienteId, account)">
              <i class="fas fa-wallet" (click)="consignar(clienteId, account)"></i> Deposit</button>
            <button class="btn btn-warning h-45 text-uppercase" (click)="retirar(clienteId, account)" >
              <i class="fas fa-hand-holding-usd"></i> Withdrawal </button>

            <button class="btn btn-secondary h-45 text-uppercase" (click)="transferir(clienteId, account)" >
              <i class="fas fa-money-check-alt"></i> Transfer</button>
          </div>
          <div class="mt-2 d-flex flex-row gap-2 align-items-center justify-content-center">
            <button  type="button" class="btn btn-danger ms-1 w-25 h-45 text-uppercase" (click)="cancelar(account.id, account)">
            <i class="fas fa-power-off"></i> Cancel</button>
          <button
          class="btn btn-success ms-1 h-45 text-uppercase"
          routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" >
          <i class="fas fa-eye" routerLink="/cliente/{{ clienteId }}/cuenta/{{ account.id }}/movimiento" ></i> Movements </button>
        </div>


            </ng-template>

          </ng-template>
      </div>
  </div>
