<div class="container">
  <h2 class="text-center mt-5">accounts list</h2>
  <table class="table">
    <thead class="text-center">
      <tr>
        <th scope="col">Account type</th>
        <th scope="col">Account Number</th>
        <th scope="col">Status</th>
        <th scope="col">Opening date</th>
        <th scope="col">Balance</th>
        <th scope="col">Movements</th>
        <th scope="col">Deposit</th>
        <th scope="col">Withdrawal</th>
        <th scope="col">Transfer</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.tipoCuenta }}</td>
        <td>{{ account.numeroCuenta }}</td>
        <td>{{ account.estado }}</td>
        <td>{{ account.fechaApertura }}</td>
        <td>US${{ account.saldo }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            routerLink="/cliente/{{ clienteId }}/cuenta/{{
              account.id
            }}/movimiento"
          >
            <i
              class="fas fa-eye"
              routerLink="/cliente/{{ clienteId }}/cuenta/{{
                account.id
              }}/movimiento"
            ></i>
            Show
          </button>
        </td>
        <td>
          <div
            *ngIf="account.estado == 'cancelled'; else elseBlokConsignar"
          ></div>
          <ng-template #elseBlokConsignar>
            <button
              class="btn btn-outline-primary"
              (click)="consignar(clienteId, account)"
            >
              <i
                class="fas fa-wallet"
                (click)="consignar(clienteId, account)"
              ></i>

              Deposit
            </button>
          </ng-template>
        </td>
        <td>
          <div
            *ngIf="
              account.estado == 'cancelled' || account.estado == 'disabled';
              else elseBlokRetirar
            "></div>
          <ng-template #elseBlokRetirar>
            <button
              class="btn btn-outline-warning"
              (click)="retirar(clienteId, account)"
            ><i class="fas fa-hand-holding-usd"></i> Withdrawal
            </button>
          </ng-template>
        </td>
        <td>
          <div
            *ngIf="
              account.estado == 'cancelled' || account.estado == 'disabled';
              else elseBlokTransferir
            "
          ></div>
          <ng-template #elseBlokTransferir>
            <button
              class="btn btn-outline-secondary"
              (click)="transferir(clienteId, account)"
            >
              <i class="fas fa-money-check-alt"></i> Transfer
            </button>
          </ng-template>
        </td>
        <td>
          <div *ngIf="account.estado == 'enabled'; else elseBlok">
            <button
              type="button"
              class="btn btn-danger"
              (click)="desactivar(account.id, account)"
            >
              <i class="fas fa-toggle-on"></i> Disable
            </button>
            <button
              type="button"
              class="btn btn-secondary ms-1"
              (click)="cancelar(account.id, account)"
            >
              <i class="fas fa-power-off"></i> Cancel
            </button>
          </div>
          <ng-template #elseBlok>
            <div
              *ngIf="account.estado == 'cancelled'; else elseBlockCancelado"
            ></div>
            <ng-template #elseBlockCancelado>
              <button
                class="btn btn-success"
                (click)="activar(account.id, account)"
              >
                <i class="fas fa-toggle-off"></i> Enable
              </button>
              <button
              type="button"
              class="btn btn-secondary ms-1"
              (click)="cancelar(account.id, account)"
            >
              <i class="fas fa-power-off"></i> Cancel
            </button>
            </ng-template>
          </ng-template>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
