<div class="container-mt-5 mt-3" *ngIf="cliente">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card mt-2">
        <div class="card-header text-center">EDIT CUSTOMER</div>

        <div class="card-body">
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="mb-3">
              <label for="tipoIdentificacion" class="form-label"
                >ID TYPE</label
              >
              <select
                name="selectDepartment"
                [(ngModel)]="valorSeleccion"
                [compareWith]="comparacion"
                class="form-select mb-3"

              >
                <option
                  *ngFor="let data of dataIdentificacion"
                  [ngValue]="data"
                >
                  {{ data }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="numIdentificacion" class="form-label"
                >ID NUMBER</label
              >
              <input
                type="number"
                class="form-control"
                id="numIdentificacion"
                name="numIdentificacion"
                aria-describedby="emailHelp"
                [(ngModel)]="cliente.numeroIdentificacion"
                required
              />
            </div>
            <div class="mb-3">
              <label for="nombres" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="nombres"
                name="nombres"
                aria-describedby="emailHelp"
                [(ngModel)]="cliente.nombres"
                required
              />
            </div>
            <div class="mb-3">
              <label for="apellidos" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="apellidos"
                name="apellidos"
                aria-describedby="emailHelp"
                [(ngModel)]="cliente.apellidos"
                required
              />
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="correo"
                name="correo"
                aria-describedby="emailHelp"
                [(ngModel)]="cliente.correo"
                required
              />
            </div>
            <div class="mb-3">
              <label for="fecha" class="form-label">Birth date</label>
              <input
                type="date"
                class="form-control"
                id="fecha"
                name="fecha"
                max="2004-04-20"
                aria-describedby="emailHelp"
                [(ngModel)]="cliente.fechaNacimiento"
                required
              />
            </div>
            <button class="btn btn-outline-success" [disabled]="!f.valid">
              Update
            </button>
            <button class="btn btn-outline-primary ms-3" routerLink="/listar">
              Return
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
