<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <div class="card-header text-center">Transferencia</div>
        <div class="card-header text-center">Detalle de Cuenta</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Tipo Cuenta: </b>{{ tipoCuenta }}</li>
          <li class="list-group-item">
            <b>Número de cuenta: </b>{{ numeroCuenta }}
          </li>
          <li class="list-group-item"><b>Estado: </b>{{ estado }}</li>
          <li class="list-group-item"><b>Saldo: </b>${{ saldo }}</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">TRANSFERENCIA ENTRE CUENTAS DEL CLIENTE</div>
        <div class="card-body">
          <form name="entreCuentas" (ngSubmit)="transferirEntreCuentas()" novalidate #fEntreCuentas="ngForm">
            <div class="mb-3">
              <label for="valorEntreCuenta" class="form-label"
                >Ingrese valor a Transferir</label
              >
              <input
                type="number"
                class="form-control"
                id="valorEntreCuenta"
                name="valorEntreCuenta"
                aria-describedby="emailHelp"
                [(ngModel)]="valorAccountBetween"
                required
              />

            </div>

            <div class="mb-3">
              <label for="descripcionAccountBetween" class="form-label">Descripción</label>
              <input
                type="text"
                class="form-control"
                id="descripcionAccountBetween"
                name="descripcionAccountBetween"
                aria-describedby="emailHelp"
                [(ngModel)]="descripcionAccountBetween"
                required
              />
            </div>
            <div class="mb-3">
              <span>Transferir a una cuentas del Cliente</span>
              <select
                [(ngModel)]="idAccountBetweenTarget"
                name="CuentaCliente"
                class="form-select form-select-lg mb-3"
                aria-describedby="emailHelp"
              >
                <option value="0">Selecciona una opción</option>
                <option
                  *ngFor="let accountBetween of accountsBetween"
                  [ngValue]="accountBetween.id"
                >
                  {{ accountBetween.numeroCuenta }} -
                  {{ accountBetween.tipoCuenta }}
                </option>
              </select>
            </div>
            <button class="btn btn-primary w-100" [disabled]="!fEntreCuentas.valid">
              Transferir
            </button>
          </form>
          <button class="btn btn-outline-primary mt-2 w-100" (click)="volver()">
            <i class="fas fa-arrow-circle-left"></i> Volver
          </button>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">TRANSFERENCIA OTRAS CUENTAS</div>
        <div class="card-body">
          <form name="otrasCuentas" (ngSubmit)="transferirOherCeuntas()" novalidate #entreCuentas="ngForm">
            <div class="mb-3">
              <label for="valor" class="form-label"
                >Ingrese valor a Transferir</label
              >
              <input
                type="number"
                class="form-control"
                id="valor"
                name="valor"
                aria-describedby="emailHelp"
                [(ngModel)]="valorOtherAccount"
                required
              />
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <input
                type="text"
                class="form-control"
                id="descripcion"
                name="descripcion"
                aria-describedby="emailHelp"
                [(ngModel)]="descripcionOtherAccount"
                required
              />
            </div>
            <div class="mb-3">
              <span>Transferir a otras cuentas</span>
              <select
                [(ngModel)]="idOtherAccountTarget"
                name="otrasCuenta"
                class="form-select form-select-lg mb-3"
                aria-describedby="emailHelp"
              >
                <option value="0">Selecciona una opción</option>
                <option
                  *ngFor="let otherAccount of otherAccounts"
                  [ngValue]="otherAccount.id"
                >
                  {{ otherAccount.numeroCuenta }} -
                  {{ otherAccount.tipoCuenta }}
                </option>
              </select>
            </div>
            <button class="btn btn-primary w-100" [disabled]="!entreCuentas.valid">
              Transferir
            </button>
          </form>
          <button class="btn btn-outline-primary mt-2 w-100" (click)="volver()">
            <i class="fas fa-arrow-circle-left"></i> Volver
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
