<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Identificación</th>
        <th scope="col">Número Identificación</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.tipoIdentificacion }}</td>
        <td>{{ cliente.numeroIdentificacion }}</td>
        <td>{{ cliente.nombres }}</td>
        <td>{{ cliente.apellidos }}</td>
        <td>
          <button
            class="btn btn-outline-primary"
            routerLink="/detalle/{{ cliente.id }}"
          >
            <i class="fas fa-eye" routerLink="/detalle/{{ cliente.id }}"></i> Ver
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-warning"
            routerLink="/editar/{{ cliente.id }}"
          >
            <i class="fas fa-edit"></i> Editar
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger"(click)="borrar(cliente.id)" >
            <i class="far fa-trash-alt"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- (click)="borrar(cliente.id) -->
